<div
  class="limitedBadge"
  style="display: flex; flex-direction: row; align-items: center;"
>
  <div
    id="ltd"
    class="ltdBadge"
    style="display: grid; margin: 9px 0px;"
  >
    <div class="ltdmain">Limited Stock</div>
  </div>
  <span> </span>
</div>
<style>
  .ltdmain{
      width: max-content;
      display: flex;
      padding: 4px 6px;
      border-radius: 3px;
      font-style: normal;
      font-weight: normal;
      font-size: 11px;
      line-height: 13px;
      background-color: #FF0000; color: #FFFFFF;
      font-weight: 800; font-size: 11px;
      line-height: 16px;
      text-transform: uppercase;
      background-color: #EA323E;
  }
</style>
