<script>
    function isCustomerLoggedIn() {
        {% if customer %}
        return true;
        {% else %}
        return false;
        {% endif %}
    }// Your custom SVG icon
    var accountIconSVG = `
<<<<<<< HEAD
 <a id="kp-account33" class="custom-account-icon" href="#" aria-label="login" style="display:inline-flex; align-items:center;width: 22px;height: 23px;">
=======
 <a id="kp-account33" class="custom-account-icon" href="#" style="display:inline-flex; align-items:center;width: 22px;height: 23px;">
>>>>>>> c121235ecbccc93bdecb70633d4a7dbb89ad5294
  <svg xmlns="http://www.w3.org/2000/svg" width="23" height="22" viewBox="0 0 24 25" fill="none">
      <path d="M11.8501 0.849609C14.9726 0.849609 17.5005 3.3744 17.5005 6.4834C17.5003 9.59227 14.9725 12.1162 11.8501 12.1162C8.7277 12.1162 6.19986 9.59227 6.19971 6.4834C6.19971 3.3744 8.7276 0.849609 11.8501 0.849609Z" stroke="black" stroke-width="1.3"></path>
      <path d="M22.8501 23.9377C22.8501 22.4969 22.5656 21.0702 22.0128 19.7391C21.46 18.408 20.6497 17.1985 19.6283 16.1797C18.6068 15.1609 17.3942 14.3527 16.0596 13.8014C14.725 13.25 13.2946 12.9662 11.8501 12.9662C10.4056 12.9662 8.97516 13.25 7.64058 13.8014C6.306 14.3527 5.09337 15.1609 4.07192 16.1797C3.05048 17.1985 2.24022 18.408 1.68742 19.7391C1.13462 21.0702 0.850098 22.4969 0.850098 23.9377" stroke="black" stroke-width="1.3" stroke-linecap="round"></path>
  </svg>
 </a>
`; function insertAndConfigureAccountIcon() {
        const searchIconContainer = document.querySelector('.b-header-shopping.d-flex.align-items-center');
        if (!searchIconContainer) {
            console.warn('Search icon container not found.');
            return;
        } // Prevent multiple insertions
        if (document.getElementById('kp-account33')) return; // Insert account icon after search icon
        searchIconContainer.insertAdjacentHTML('afterbegin', accountIconSVG);
        const accountLink = document.getElementById('kp-account33'); if (isCustomerLoggedIn()) {
            accountLink.setAttribute('href', '/account');
        } else {
            accountLink.setAttribute('href', '#');
            accountLink.addEventListener('click', function (e) {
                e.preventDefault();
                if (typeof shipRocketMarketingLogin === 'function') {
                    shipRocketMarketingLogin();
                } else {
                    window.location.href = '/account/login';
                }
            });
        }
    } document.addEventListener('DOMContentLoaded', insertAndConfigureAccountIcon);
</script>
<script>
    document.addEventListener('DOMContentLoaded', function () {
        var accountIconElement = document.querySelector('.b-account_links-link.m-sign_in');
        if (accountIconElement) {
            accountIconElement.remove();
            console.log('Account icon element removed.');
        } else {
            console.log('Account icon element not found.');
        }
    }); </script>