<div id="siteAnnouncement">
  <div class="px-2">
    <a href="{{ section.settings.link }}"><p>{{ section.settings.text }}</p></a>
  </div>
</div>
<style>
#siteAnnouncement {
    padding: 10px 15px;
    background-color: #000000;
}
#siteAnnouncement p {
    margin: 0;
    padding: 0;
    line-height: 1.3em;
    font-size: clamp(10px, 2vw, 13px);
    font-family: var(--family-medium);
    color: #ffffff;
    text-transform: capitalize;
    text-align: center;
}
</style>
{% schema %}
    {
      "name": "Slideshow",
      "tag": "section",
      "class": "announcement",
      "settings": [
        {
          "type": "richtext",
          "id": "text",
          "label": "Announcement Heading",
          "default": "<p>Welcome to our store</p>"
        },
        {
          "type": "url",
          "id": "link",
          "label": "Announcement Bar Link"
        }
      ],
      "presets": [
        {
          "name": "Updated Announcement Bar"
        }
      ]
    }
    {% endschema %}