<script src="https://cdn.jsdelivr.net/npm/gsap@3.12.5/dist/gsap.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/gsap@3.12.5/dist/ScrollTrigger.min.js"></script>

<div class="wrapper">
  <div class="content">
    <section class="section hero"></section>
  </div>
  <div class="image-container">
  <img src="{{ section.settings.outer-image-desktop | image_url }}" alt="image" class="zoom-image desktop_screen" width="100%" height="100%"  fetchpriority="high">
    <img src="{{ section.settings.outer-image-mobile | image_url }}" alt="image" class="zoom-image mobile_screen" width="100%" height="100%"  fetchpriority="high">
  </div>
</div>
<style>
.wrapper,
.content {
  position: relative;
  width: 100%;
  z-index: 1;
  padding: 0 !important;
}

.content ,.content .section {
  overflow: hidden;
  width: 100%;
  height: calc(100vh - 56px);
}

.content .section.hero {
  background-image: url({{ section.settings.inner-image-desktop | image_url }});
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: calc(100vh - 56px);
}

.image-container {
  width: 100%;
  height: calc(100vh - 56px);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2;
  perspective: 500px;
  overflow: hidden;
}

.image-container img.zoom-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center center;
}

@media screen and (width <= 768px){
  .content .section.hero {
    background-image: url({{ section.settings.inner-image-mobile | image_url }});
  }
}

</style>
<script>
console.clear();

gsap.registerPlugin(ScrollTrigger);

document.addEventListener("DOMContentLoaded", () => {
  // window.addEventListener("load", () => {
  gsap
    .timeline({
      scrollTrigger: {
        trigger: ".wrapper",
        start: "top top+=56",
        end: "+=150%",
        pin: true,
        scrub: true
      }
    })
    .to("img.zoom-image", {
      scale: 2,
      z: 350,
      transformOrigin: "center center",
      ease: "power1.inOut"
    })
    .to(
      ".section.hero",
      {
        scale: 1.1,
        transformOrigin: "center center",
        ease: "power1.inOut"
      },
      "<"
    );
    gsap.registerPlugin(ScrollTrigger);
});
</script>
{% schema %}
{
  "name": "Scroll Animation",
  "settings": [
    {
      "type": "image_picker",
      "id": "outer-image-desktop",
      "label": "Outer Image Desktop",
      "info": "Outer Banner For Masking"
    },
    {
      "type": "image_picker",
      "id": "outer-image-mobile",
      "label": "Outer Image Mobile",
      "info": "Outer Banner For Masking"
    },
    {
      "type": "image_picker",
      "id": "inner-image-desktop",
      "label": "Inner Image Desktop",
      "info": "Inner Banner"
    },
    {
      "type": "image_picker",
      "id": "inner-image-mobile",
      "label": "Inner Image Mobile",
      "info": "Inner Banner"
    }
  ],
  "presets": [
    {
      "name": "Scroll Animation"
    }
  ]
}
{% endschema %}
{% comment %}
  <div id="main-slidesss">
    <div class="slide-container"> 
    <div class="description panel blue">
      <img src="https://www.jessupbeauty.com/cdn/shop/files/T329-PC_9174b0a6-6653-4c09-a917-22ec2848b66c.jpg?v=1722009194&width=1920" alt="teste">
    </div>
    <section class="panel red">
      <img src="https://www.hokmakeup.com/cdn/shop/files/Lamel_Dazzle_Lip_Gloss_Cult_Mascara_Banner_Desktop_b11e8697-4cd7-4f8d-9690-0adf0820c77a.jpg?v=1721298830" alt="teste">
    </section>
    <section class="panel orange">
      <img src="https://www.jessupbeauty.com/cdn/shop/files/T500-PC_1.jpg?v=1709171486&width=1920" alt="teste"> 
    </section>
    <section class="panel purple">
      <img src="https://www.jessupbeauty.com/cdn/shop/files/T329-PC_9174b0a6-6653-4c09-a917-22ec2848b66c.jpg?v=1722009194&width=1920" alt="teste">
    </section>
    <section class="panel green">
      <img src="https://www.hokmakeup.com/cdn/shop/files/Lamel_Dazzle_Lip_Gloss_Cult_Mascara_Banner_Desktop_b11e8697-4cd7-4f8d-9690-0adf0820c77a.jpg?v=1721298830" alt="teste">
    </section>
    <section class="panel gray">
      <img src="https://www.jessupbeauty.com/cdn/shop/files/T500-PC_1.jpg?v=1709171486&width=1920" alt="teste"> 
    </section>
  </div>
  </div>
  <style>
    /* #main-slidesss {
      overscroll-behavior: none;
    }
    .slide-container {
    overscroll-behavior: none;
    width: 600%;
    height: 100%;
    display: flex;
    flex-wrap: nowrap;
  }
  .panel img{
    width: 100%;
    height: auto;
  } */
  </style>
  <script>
     let sections = gsap.utils.toArray(".panel");
    
     gsap.to(sections, {
       xPercent: -100 * (sections.length - 1),
       ease: "none",
       scrollTrigger: {
         trigger: ".slide-container",
         start: "top top+=56",
         pin: true,
         scrub: 1,
         snap: 1 / (sections.length - 1),
          base vertical scrolling on how wide the container is so it feels more natural.
         end: "+=2000",
       }
     });
    });</script>
{% endcomment %}