  .wrapper-content {
        position: relative;
      }
      .btn.button-veiw-all{
        width: 30%;
        display:block;
        background: transparent;
        color: #fff;
        border: 1px solid #fff;
        border-radius: 50px;
        margin: auto;

      }
      .combo-offer-text div p {
        color: #595353;
        text-align: center;
        font-family: var(--family-regular);
        font-size: 12px;
        font-style: normal;
        /* font-weight: 400; */
        line-height: normal;
      }

      .lower.desktop-only {
        background: #EF4BA4;
        padding: 12px 20px;
        border-radius: 0px 0px 12px 12px;
      }

      .combo-offer-text div h2 {
        color: #E03F9F;
        font-family: var(--family-bold);
        font-size: clamp(28px, 2vw, 32px);
        font-style: italic;
        line-height: normal;
      }

      .combo-offer-text {
        text-align: center;
        margin-bottom: 20px;
        font-size: 1.2em;
      }

      .combo-offer-card-swiper .swiper-slide {
        width: 40%;
        text-align: center;
        cursor: pointer;
      }

      .lower.desktop-only .btn {
        display: inline-block;
        padding: 10px 20px;
        background: #191919;
        color: #fff;
        text-decoration: none;
        border-radius: 50px;
        font-weight: 700;
        width: 100%;
        margin: 20px auto;
      }

      .combo-offer-card img {
        width: 100%;
        border-radius: 12px 12px 0 0;
        /* box-shadow: 0 4px 12px rgba(0,0,0,0.1); */
      }

      .combo-offer-modal {
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        transform: translateY(-50%);
        background: white;
        width: 95%;
        padding: 20px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
        transition: all 0.3s ease;
        z-index: 1000;
      }

      @keyframes slideInFromLeft {
        from {
          transform: translateX(100%);
          opacity: 0;
        }

        to {
          transform: translateX(0);
          opacity: 1;
        }
      }
      @keyframes slideInFromclose {
    from {
      transform: translateX(-100%);
      opacity: 1;
    }

    to {
      transform: translateX(0);
      opacity: 0;
    }
  }
    .combo-offer-modal.hide {
      animation: slideInFromclose 0.5s ease forwards;
    }
      .combo-offer-modal.show {
        display: block;
        width:100%;
        min-height: 100vh;
        animation: slideInFromLeft 0.5s ease forwards;
      }

      .combo-offer-popup {
        background: transparent;
        margin: 46px auto;
        /* padding: 20px; */
        width: 95%;
        max-width: 600px;
        border-radius: 4px;
        overflow: auto hidden;
        max-height: 70vh;
        scrollbar-color: #DEF31C #ffff;
        scrollbar-width: thin;
      }

      .combo-offer-close {
        position: absolute;
        left: 16px;
        top: 20px;
        cursor: pointer;
      }

      .combo-offer-grid .b-product_promo_tile-content {
        gap: 6px;
        height: 148px;
      }

      .combo-offer-grid .img-fluid {
        max-width: 60%;
      }

      .combo-offer-grid .b-product_tile-picture_container {
        min-height: 132px;
      }

      .combo-offer-grid {
        display: grid;
        grid-template-columns: repeat(20, 1fr);
        grid-template-rows: 2fr;
        gap: 10px;
        align-items: center;
        padding-bottom: 1rem;
      }

      .combo-offer-product {
        width: 100%;
        min-height: 286px;
        background: #fff;
        padding: 0px 10px 0px 13px;
      }


      .dynamic-upper-text {
        width: 90%;
        margin: auto;
        background: #DEF31C;
        min-height: 446px;
        /* padding: 31px 16px; */
      }

      .combo-offer-card-wrapper {
        width: 80%;
        margin: -32rem auto 0 auto;
      }

      .combo-offer-card-wrapper .swiper-wrapper {
        justify-content: center;
        gap: 24px;
      }

      .desktop-only {
        text-align: left;
        display: block;
      }

      .upper.desktop-only p {
        color: #2C2C2C;
        font-family: var(--family-regular);
        font-size: 28px;
        font-style: italic;
        font-weight: 400;
        line-height: normal;
      }

      .upper.desktop-only {
        padding-left: 13px;
        margin-bottom: 24px;
      }

      .mobile-only {
        display: none;
      }

      .upper.desktop-only h2 {
        font-family: var(--family-bold);
        font-style: normal;
        /* font-weight: 700; */
        line-height: normal;
      }

      @media screen and (max-width: 768px) {
        .dynamic-upper-text {
          min-height: 290px;
        }

        .combo-offer-card-wrapper .swiper-wrapper {
          justify-content: unset;
          gap: unset;
        }
        .btn.button-veiw-all{
        width: 100%;}

        .combo-offer-card img {
          border-radius: 12px;
          min-height: 331px;
        }

        .combo-offer-card-wrapper {
          width: 90%;
           margin: -11rem auto 0 auto;
        }

        .combo-offer-card-swiper .swiper-slide {
          width: 250px;
          text-align: center;
          cursor: pointer;
        }

        .combo-offer-text-bottom div h2 {
          color: #000;
          text-align: center;
          font-family: var(--family-bold);
          font-size: 20px;
          font-style: normal;
          font-weight: 700;
          line-height: normal;
        }

        .combo-offer-text-bottom div p:first-of-type {
          color: #646363;
          text-align: center;
          font-family: var(--family-regular);
          font-size: 12px;
          font-style: normal;
          /* font-weight: 400; */
          line-height: normal;
        }

        .combo-offer-text-bottom p:nth-of-type(2) {
          color: #000;
          text-align: center;
          font-family: var(--family-regular);
          font-size: 14px;
          font-style: normal;
          /* font-weight: 400; */
          line-height: normal;
        }

        .dynamic-bootom-text-wrapper {
          text-align: center;
          margin: 24px 0px 7px 0px;
          width: 100%;
        }
           .combo-offer-popup .b-product_promo_vendor-name_link {
            font-size: 11px;}
       .combo-offer-popup .b-product_promo_tile-name_link{ font-size: 10px;}
       .combo-offer-popup  .b-product_price-value, .combo-offer-popup .b-product_price-value.rack-rate {font-size: 12px;}
       .combo-offer-popup  .button-cta.atc {
        font-size: 9px;
        }
        .combo-offer-product .b-product_promo_tile-content {
          height: 145px;
        }

        .combo-offer-popup {
          max-height: 84vh;
          margin: 20px auto;

        }

        .desktop-only {
          display: none;
        }

        .mobile-only {
          display: block;
        }
      }

