.b-product_promo_tile-name_link {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    line-clamp: 2;
    -webkit-box-orient: vertical;
    color: #212529;
    font-family: var(--family-medium);
    font-size: 18px;
    line-height: 22px;
    height: 44px;
  }
  
  .b-product_promo_tile-name_link:hover {
    color: inherit;
  }

.new-slider-url > * {
    font-size: 16px;
    font-family: var(--family-medium);
    line-height: 24px;
    text-transform: capitalize;
    cursor: pointer;
  }
  
  .new-slider-content,
  .new-slider {
    width: 100%;
  }
  
  .new-slider .new-slider-slide {
    position: relative;
    height: 100%;
    margin: 1px 12px 1px 1px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 12px;
  }
  
  .new-slider .new-slider-slide .new-slider-media {
    width: 100%;
    height: 100%;
    object-fit: cover;
    aspect-ratio: 1/1 !important;
  }

  .customize {
    position: relative;
    float: left;
    margin: auto;
  }
  .b-product_tile-picture_container {
    align-items: center;
    display: flex;
    height: 100%;
    justify-content: center;
    left: 0;
    /* position: absolute; */
    text-align: center;
    top: 0;
    width: 100%;
}
  
.b-product_tile-picture_container img {
    aspect-ratio:1;
    background-size: contain;
    background-size: auto;
  }
  
  .b-product_tile-size_label {
    font-weight: 400;
    font-size: 12px;
  }
  .b-product_tile-picture_container .img_url_2 {
    position: absolute;
    left: 0;
    top: 0;
    display: none;
  }
  
  .b-product_tile-picture_container:hover .img_url_2 {
    display: block;
  }
  
  .d-center {
    display: flex;
    justify-content: center;
    align-items: center;
  }
.b-product_promo_tile-content{display:flex;flex-direction:column;gap:8px;padding:10px 0 0;width:100%;height:254px}.swiper-slide[product_slider="true"]{width:310px;}.b-product_promo_tile-content .rating{min-height:16px}.star-rating{--percent: calc(var(--rating) / 5 * 100%);display:inline-block;font-size:16px;line-height:16px}.star-rating.product{padding-bottom:.8rem}.star-rating:before{content:"\2605\2605\2605\2605\2605";letter-spacing:0;background:linear-gradient(90deg,var(--star-background) var(--percent),var(--star-color) var(--percent));-webkit-background-clip:text;background-clip:text;-webkit-text-fill-color:#a9a9a929}.b-product_price-value{color:#212529;font-family:var(--family-heavy);font-size:16px;line-height:24px;text-transform:capitalize;white-space:nowrap}.b-product_price-value.rack-rate{color:#bababa;font-family:var(--family-medium);text-decoration:line-through}.discount_label{color:#F44E70;font-family:var(--family-bold);font-size:12px;line-height:12px;position:relative;white-space:nowrap;left:4px}.swatch.variantHandler{display:flex;max-width:100%;position:relative;overflow:visible auto;padding:3px;}.main_product_swatches .swatch.variantHandler{max-width:100%;margin:0}.swatch-slide-wrapper{column-gap:8px}.swatch-slide-wrapper .swatch-element{width:auto}.swatch.variantHandler.navigationArrow{margin:0 auto 16px}.swatch.variantHandler .swiper-wrapper{padding:3px 2px 2px}.swatch.variantHandler input{display:none}
.b-swatch_colors-item.m-disabled:after {
  content: "";
}
.b-swatch_colors-item:after {
  border-top: 1px solid #a0a0a0;
  left: -50%;
  position: absolute;
  top: 50%;
  transform: rotate(-45deg);
  width: 200%;
}
.circular_swatch{position: relative;overflow:hidden;width:24px;height:24px;border-radius:50%;background-size:contain;background-position:center;user-select: none;}.product_circular_swatch{position:relative;overflow:hidden;width:34px;height:34px;border-radius:50%;background-size:contain;background-position:center;user-select: none;}.swatch_arrows{z-index:1;background:#fff;padding:10px 12px;display:grid;place-content:center}.main_product_swatches .swatch_arrows{padding:16px 12px}.arrow_handler.navigationArrow{top:0!important;left:-1px!important}.swatch_arrows[aria-disabled=true]{visibility:hidden}.variantHandler input:checked+label{outline:1px solid #000;outline-offset:2px;transform:scale(.95)}.variant_container{color:#212529;font-family:var(--family-medium);font-size:14px;line-height:20px;text-transform:capitalize;text-overflow:ellipsis;display:-webkit-box;-webkit-line-clamp:1;-webkit-box-orient:vertical;overflow:hidden;min-height: 20px;}.variant_container .variant_name{font-family:var(--family-regular);margin-left:4px}@media screen and (max-width:768px){.product_circular_swatch{width:28px;height:28px}.main_product_swatches .swatch_arrows{padding:12px}}
/*# sourceMappingURL=/s/files/1/1743/7443/t/218/assets/product_pocket.css.map?v=1718964066 */

.swatch.variantHandler::-webkit-scrollbar-track
{
  margin-top: 2px;
	-webkit-box-shadow: inset 0 0 2px rgba(0,0,0,0.2);
	background-color: #F5F5F5;
  border-radius: 4px;
}

.swatch.variantHandler::-webkit-scrollbar
{
	height: 2px;
	background-color: #F5F5F5;
}

.swatch.variantHandler::-webkit-scrollbar-thumb
{
	background-color: #353535;
  border-radius: 4px;
}

@media screen and (min-width: 768px) {
    .new-slider-url {
        font-size: 18px ;
      }
      .swatch.variantHandler::-webkit-scrollbar-track
{
  -webkit-box-shadow: inset 0 0 4px rgba(0,0,0,0.2);
}

.swatch.variantHandler::-webkit-scrollbar
{
	height: 4px;
}

.swatch.variantHandler::-webkit-scrollbar-thumb
{
  border-radius: 4px;
}
    }
@media screen and (max-width: 768px) {

      .b-product_promo_tile-content {
        gap: 6px;
        height: 220px;
      }
      .custom_label_badge .custom_badges {
        font-size: 8px ;
        line-height: 10px ;
      }
      .b-product_promo_tile-name_link {
        font-size: 16px ;
        line-height: 20px ;
        height: 38px ;
      }
      .star-rating,
      .b-product_price-value,
      .variant_container {
        font-size: 13px;
        line-height: 20px;
      }
      .discount_label {
        font-size: 9px ;
        line-height: 14px;
      }
      .swatch.variantHandler {
        margin: 0 ;
      }
      .circular_swatch {
        width: 19px ;
        height: 19px ;
      }
      
      .swatch_arrows {
        padding: 8px ;
      }
      .glass-product-overlay .b-product_promo_tile-content {
        padding: 10px ;
      }
      .b-add_to_bag-button,
      .view-glass-product {
        padding: 11px ;
      }
      .view-glass-product-text {
        font-size: 12px ;
        font-family: var(--family-medium) ;
      }
}